<template>
    <div class="form">
        <input type="tel"
               @input="$emit('input',phoneF)"
               v-model="phoneF"
               name="phone"
               id="phone"
               placeholder="+7"
               class="form_elem text-box"
               pattern="[(][0-9]{3}[)] [0-9]{3}-[0-9]{4}" required/>

    </div>
</template>

<script>

	export default {
		props: {
			value: String,
		},
		data() {
			return {
				phoneF: this.value,
			}
		},
		created() {
			this.phoneF = '+7'
		},
		watch: {
			'phoneF': function(){
			  if (this.phoneF.length < 2) this.phoneF = `+7 ${this.phoneF}`;

              let val = this.phoneF.replace(/[ \(\)-]/g, '');
              let match = val.match(/\+7 (.{10})/g);
              val = match ? match[0] : val;
              let x = val.replace(/[^\d+]/g, '').match(/\+7(\d{0,3})(\d{0,3})(\d{0,2})(\d{0,2})/);
              val = '+7 ' + (!x[2] ? x[1] : '(' + x[1] + ') ' + x[2] + (x[3] ? '-' + x[3] + (x[4] ? '-' + x[4] : '') : ''));
              this.phoneF = val;
			}
		},

	}

</script>

<style>

</style>
