.login_title {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.title_md {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.text-box {
    padding: 10px;
    border: solid #727272 1px;
    border-radius: 5px;
    width: 100%;
    outline: 0;
}

.contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}

.contain-sm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
}

.form {
    width: 100%;
    display: table;
}

.form_elem {
    display: table-cell;
}

.warning-text {
    font-size: 14px;
    color: #ff5252;
}

.info-text {
    font-size: 14px;
    color: #b7aeb1;
}

.circle_page {
    margin: auto 2px;
    padding: 3px;
    border: solid #b7aeb1 1px;
    border-radius: 100px;
}

.circle_page_active {
    background: #b7aeb1;
}

.text-field-bound {
    max-height: 30px;
}
