<template>
  <div id="app">
    <h1>Доступна только полная версия</h1>
  </div>
</template>

<script>
  
  export default {
    data() {
      return {};
    },
    created() {
    },
  };
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
</style>
